/* @override 
	https://jessidraper.github.io/jessicadraper/styles.css */

/*********** Jessica Draper Site Styles **********/

body {
	font-family: "Roboto", sans-serif;
	color: #333;
	margin: 0;
}

body img {
	width: 100%;
}

h1, h2, h3 {
	font-family: Gill Sans;
	font-weight: 400;
}

h1 {
	font-size: 2.5em;
}

h2 {
	text-transform: uppercase;
	letter-spacing: .1em;
}

p {
	font-family: Merriweather;
	font-size: 16px;
	line-height: 1.8;
}

/* ---------- Layout ---------- */

.header,
.main-content {
	width: 768px;
	margin: auto;
	padding: 0 30px;
	box-sizing: border-box;
}


/* ---------- Header ---------- */

.header {
	display: flex;
	margin-top: -60px;
	margin-bottom: 40px;
}

.header .headshot {
	flex: 0 0 200px;
	margin-right: 50px;
}

.header .headshot img {
	border-radius: 200px;
	border: 10px solid #fff;
	box-sizing: border-box;
}

.header .title {
	margin-top: 50px;
}

.header #myname {
	margin-bottom: 0;
}

.header .contact {
	margin-top: 5px;
	font-family: Gill Sans;
	font-size: 18px;
}


/* ---------- Header ---------- */

.main-content {
	margin-bottom: 70px;
}

/* ---------- CV Bar ---------- */


.cv-bar {
	background: #847E9A;
	padding: 70px 20px;
}

.cv-bar a {
	font-family: Gill Sans;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 18px;
	color: #fff;
	display: block;
	border: 1px solid #fff;
	text-decoration: none;
	letter-spacing: .05em;
	padding: 10px;
	width: 200px;
	margin: auto;
	text-align: center;
	
	-webkit-transition: all .2s ease-in-out 0s;
	-moz-transition: all .2s ease-in-out 0s;
}

.cv-bar a:hover {
	background: #fff;
	color: #847E9A;
}

/* ---------- Responsive ---------- */

@media only screen and (max-width: 768px) {
	.header,
	.main-content {
		width: 100%;
		text-align: center;
	}
	
	.header {
		display: block;
	}
	
	.header .title {
		margin-top: 0;
	}
	
	.header .headshot {
		width: 220px;
		margin: auto;
	}
}